@import "css_variables";
@import "mixins";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}

.rtl {
    direction: rtl
}

article, aside, figure, figure img, figcaption, footer, header, nav, section, video, object {
    display: block
}

a img {
    border: 0
}

figure {
    position: relative
}

figure img {
    width: 100%
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li {
    list-style: none
}

.bold {
    font-weight: 600;
}

html, body {
    font-family: $font-body;
    line-height: 1.3;
    font-size: 10px;
    //-webkit-font-smoothing: antialiased;
}

body.noScroll {
    overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
    @include title;
}

.wrapper{
    position: relative;
    overflow: hidden;

    //not en
    &.es, &.pt{
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-merriweather;
        }
    }
}




pre, code {
    font-weight: 400;
    font-size: 1.25rem;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background-color: $purple;
}

::selection {
    color: #fff;
    text-shadow: none;
    background-color: $purple
}

a {
    color: $blue
}

a, a:hover,
a.active,
a:visited {
    text-decoration: none;
    outline: none;
}

a:focus {
    -moz-outline-style: none
}

a, a:active, a:focus {
    outline: none
}

input, textarea, button, select {
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    box-shadow: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

button {
    background-color: transparent;
}

.upper {
    text-transform: uppercase
}

.inline_block_mid {
    display: inline-block;
    vertical-align: middle

}

.linethrough {
    text-decoration: line-through
}

@include keyframes(fadeIn) {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@include keyframes(fadeOut) {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@include keyframes(bounce) {
    0%, 100% {
        @include transform(translate3d(0, 0, 0));

    }
    60% {
        @include transform(translate3d(0, -2px, 0));
    }
}

@include keyframes(cardIn) {
    from {
        opacity: 0;
        @include transform(translate3d(0, 20px, 0));

    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(toLeft) {
    from {
        @include transform(translate3d(10px, 0, 0));

    }
    to {
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(toRight) {
    from {
        @include transform(translate3d(-10px, 0, 0));

    }
    to {
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(fromBottom) {
    from {
        @include transform(translate3d(0, 100%, 0));

    }
    to {
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(apearFromBottom) {
    from {
        opacity: 0;
        @include transform(translate3d(0, 50px, 0));

    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(softFromBottom) {
    from {
        opacity: 0;
        @include transform(translate3d(0, 10px, 0));

    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(skewFromTop) {
    from {
        opacity: 0;
        @include transform(translate3d(0, -20px, 0) skewX(10deg));
    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0) skewX(0deg));
    }
}

@include keyframes(fromTop) {
    from {
        opacity: 0;
        @include transform(translate3d(0, -20px, 0));

    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(fromLeft) {
    from {
        opacity: 0;
        @include transform(translate3d(-5px, 0, 0));

    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(fromRight) {
    from {
        opacity: 0;
        @include transform(translate3d(5px, 0, 0));

    }
    to {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}

// ----------- keyframes ------------------  //

@include keyframes(breath) {
    0%, 100% {
        @include transform(matrix(1, 0, 0, 1, 0, 0))

    }
    50% {
        @include transform(matrix(1.05, 0, 0, 1.05, 0, 0))
    }
}

@include keyframes(breathIn) {
    from {
        @include transform(matrix(1, 0, 0, 1, 0, 0))

    }
    to {
        @include transform(matrix(1.05, 0, 0, 1.05, 0, 0))
    }
}

@include keyframes(spin) {
    from {
        @include transform(rotate(0deg))

    }
    to {
        @include transform(rotate(360deg))
    }
}

@include keyframes(scaleIn) {
    from {
        opacity: 0;
        @include transform(matrix(0.9, 0, 0, 0.9, 0, 0))

    }
    to {
        opacity: 1;
        @include transform(matrix(1, 0, 0, 1, 0, 0))
    }
}

@include keyframes(scaleOut) {
    from {
        opacity: 1;
        @include transform(matrix(1, 0, 0, 1, 0, 0))
    }
    to {
        opacity: 0;
        @include transform(matrix(0.7, 0, 0, 0.7, 0, 0))
    }
}

@include keyframes(scaleOutWidth) {
    from {
        @include transform(scale3d(1, 1, 1))
    }
    to {
        @include transform(scale3d(0, 1, 1))
    }
}

@include keyframes(scaleOutHeight) {
    from {
        @include transform(scale3d(1, 1, 1))
    }
    to {
        @include transform(scale3d(1, 0, 1))
    }
}

@include keyframes(strokeInShort) {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@include keyframes(strokeInMid) {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@include keyframes(strokeInLong) {
    from {
        stroke-dashoffset: 800;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@include keyframes(scaleInWidth) {
    from {
        @include transform(scale3d(0, 1, 1))
    }
    to {
        @include transform(scale3d(1, 1, 1))
    }
}

@include keyframes(scaleInHeight) {
    from {
        @include transform(scale3d(1, 0, 1))
    }
    to {
        @include transform(scale3d(1, 1, 1))
    }
}

@include keyframes(textSpanIn) {
    from {
        @include transform(translate3d(0, 100%, 0));

    }
    to {
        @include transform(translate3d(0, 0, 0));
    }
}

@include keyframes(fadeInOut) {
    0%, 50%, 100% {
        opacity: 1;
        @include transform(translate(-50%, -50%) scale(1));
    }
    60%, 90% {
        opacity: 0;
        @include transform(translate(-50%, -50%) scale(.5));
    }
}

@include keyframes(fadeOutIn) {
    0%, 50%, 100% {
        opacity: 0;
        @include transform(translate(-50%, -50%) scale(.5));
    }
    60%, 90% {
        opacity: 1;
        @include transform(translate(-50%, -50%) scale(1));
    }
}

@include keyframes(fadeOutTop) {
    from {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));

    }
    to {
        opacity: 0;
        @include transform(translate3d(0, -30px, 0));
    }
}

.textSpan {
    position: relative;
    display: block;
    overflow: hidden;
    @include listAnimationDelay(100, 5);
    span {
        @include transform(translate3d(0, 100%, 0));
        @include animation(textSpanIn .5s $easing both);
        @include animation-delay(inherit);
        display: block;
    }
}

.desktop {
    display: block;
    @media #{$media-tablet-portrait}{
        display: none;
    }
}

.tablet-only {
    display: none;
    @media #{$media-between-tablet-and-mobile}{
        display: block;
    }
}

.mobile {
    display: none;
    @media #{$media-tablet-portrait}{
        display: block;
    }
}

.mobile-small {
    display: none;
    @media #{$media-mobile-portrait}{
        display: block;
    }
}

.underlined {
    color: inherit;
    text-decoration: underline;
    display: inline;
    &:hover {
        text-decoration: none;
    }
}

.oneFieldForm {
    @include display-flex;
    position: relative;
    @include justify-content(flex-end);
    @include border-radius(50px);
    border: 1px solid transparent;
    @media #{$media-mobile-landscape} {
        border-color: #000;
    }

    .Button {
        margin-left: 15px;
        white-space: nowrap;
        @media #{$media-mobile-landscape} {
            margin-left: 0;
        }
    }

    &:not(.small){
        .Button {
            @media #{$media-mobile-landscape} {
                padding: 14px 20px;
            }
            .label {
                display: block;
                font-size: 1.7rem;
                @media #{$media-tablet-portrait}{
                    font-size: 1.6rem;
                }
            }
        }
    }

    input {
        @include input;
        overflow: hidden;
        text-overflow: ellipsis;
        @include flex(1);
        @include border-radius(inherit);
        border: 1px solid #000;
        @media #{$media-mobile-landscape} {
            border-color: transparent;
        }
    }

    &.small{
        @media #{$media-mobile-landscape}{
            .Button {
                padding: 2px 7px 2px 11px;
                .label {
                    font-size: 1.3rem;
                }
                .Icon {
                    font-size: 2.6rem;
                    margin-left: 2px;
                }
            }
        }
    }


}

//rtl
.rtl .oneFieldForm {

    .Button {
        margin-left: 0;
        margin-right: 15px;
        @media #{$media-mobile-landscape} {
            margin-right: 0;
        }
    }

}

div[role="button"]{
    @include inline-block-mid;
    &:focus{
        @include noFocus;
    }
}

h1 {
    font-size: 6.8rem;
    max-width: 680px;
    color: $grey-light;
    @media #{$media-desktop}{
        font-size: 7.2rem;
    }
    @media #{$media-laptop-small}{
        font-size: 6.2rem;
    }
    @media #{$media-tablet-portrait}{
        font-size: 5.2rem;
    }
    @media #{$media-mobile-landscape}{
        font-size: 4.6rem;
    }
    @media #{$media-mobile-portrait}{
        font-size: 4rem;
    }
    @media #{$media-mobile-small}{
        font-size: 3.6rem;
    }
}

ol, ul {
    li {
        @include display-flex;
        @include align-items(flex-start);
        @media #{$media-mobile-portrait}{
            display: block;
        }
        &:before {
            display: block;
            margin-right: 20px;
            @media #{$media-tablet-portrait}{
                font-size: 2.2rem;
            }
        }
    }
}
//rtl
.rtl {
    ol, ul {
        li:before {
            margin-right: 0;
            margin-left: 20px;
        }
    }
}



ol {
    counter-reset: ol-counter;
    li:before {
        content: counter(ol-counter);
        counter-increment: ol-counter;
        @include title;
        font-size: 2.6rem;

        @media #{$media-tablet-portrait}{
            font-size: 2.2rem;
        }
        @media #{$media-mobile-portrait}{
            margin-bottom: 5px;
        }
    }
}

ul li {
    &:before {
        content: '';
        min-width: 7px;
        width: 7px;
        height: 7px;
        @include round;
        margin-top: 10px;
        @include align-self(flex-start);
        background-color: $grey-light;
        @media #{$media-mobile-portrait}{
            margin: 15px auto;
        }
    }
}



//legal
.Legal {
    .legal-wrapper {
        padding: 0 25px;
    }


    .Hero{
        .line-divider{
            margin-top: 60px;
        }
    }

    .legal-content {
        color: $grey-light;

        .section {
            padding-top: 90px;
            @media #{$media-tablet-portrait}{
                padding-top: 80px;
            }
        }

        h2 {
            font-size: 3.6rem;
            @media #{$media-laptop-small}{
                font-size: 3.4rem;
            }
            @media #{$media-tablet-portrait}{
                //text-align: center;
            }
            @media #{$media-mobile-landscape}{
                font-size: 3rem;
            }
            @media #{$media-mobile-small}{
                font-size: 2.6rem;
            }

            &:after {
                content: '~';
                display: block;
                font-size: 3rem;
                @include title;
                font-weight: normal;
                color: $turquoise;
                margin: 35px 0;
                @media #{$media-mobile-landscape}{
                    margin: 25px 0;
                }
            }

        }


        h3 {
            font-size: 2.5rem;
            margin-bottom: 15px;
            @media #{$media-mobile-landscape}{
                font-size: 2.4rem;
            }
            @media #{$media-mobile-small}{
                font-size: 2.2rem;
            }
        }
        p, li, .text_p {
            font-size: 2rem;
            @media #{$media-laptop-small}{
                font-size: 1.9rem;
            }
            @media #{$media-mobile-portrait}{
                font-size: 1.8rem;
                text-align: justify;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &.top-gap {
                margin-top: 20px;
            }

            a {
                color: inherit;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }

    }

}



//column - width limit
.column {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    @media #{$media-desktop}{
        max-width: 1300px;
    }

    &.narrow{
        max-width: 960px;
        @media #{$media-desktop}{
            max-width: 1180px;
        }
    }

    &.wide{
        max-width: 1200px;
        @media #{$media-laptop-small} {
            max-width: 1150px;
        }
        @media #{$media-desktop}{
            max-width: 1330px;
        }
    }

}






//article content section
.article-section {
    padding: 80px 20px 0;
    color: $grey-light;
    &.mobile-small-bottom-gap{
        padding-top: 20px;
    }
    @media #{$media-mobile-small}{
        padding: 60px 15px 0;
    }




    &.no-padding {
        padding-top: 0;
    }

    &.centered {
        text-align: center;
    }

    &.center-column, .inner-center-column {
        max-width: 830px;
        text-align: justify;
        &.narrow {
            max-width: 760px;
        }
    }
    .inner-center-column {
        margin: auto;
        text-align: justify;
    }

    &.bottom-gap {
        padding-bottom: 40px;
        @media #{$media-mobile-landscape}{
            padding-bottom: 0;
        }
    }

    h2 {
        margin-bottom: 50px;
        font-size: 4.6rem;
        color: $grey-light;
        &.bottom-closer {
            margin-bottom: 15px;
        }

        @media #{$media-tablet-portrait}{
            font-size: 4.2rem;
        }
        @media #{$media-mobile-landscape}{
            font-size: 3.2rem;
            br {
                display: none;
            }
            &:not(.bottom-closer) {
                margin-bottom: 30px;
            }
        }
        @media #{$media-mobile-small}{
            font-size: 3rem;
        }
    }
    h3 {
        color: $grey-light;
        font-size: 3.2rem;
        margin-bottom: 15px;
        @media #{$media-tablet-landscape}{
            font-size: 3rem;
        }
        @media #{$media-mobile-landscape}{
            font-size: 2.8rem;
        }
        @media #{$media-mobile-small}{
            font-size: 2.6rem;
        }

        &.mobile-flex {
            @media #{$media-mobile-portrait}{
                font-size: 2.5rem;
            }
        }

    }

    h4 {
        font-size: 2.8rem;
        font-weight: normal;
        line-height: 1.3;
        @media #{$media-tablet-landscape}{
            font-size: 2.6rem;
        }
        @media #{$media-tablet-portrait}{
            font-size: 2.4rem;
        }
        @media #{$media-mobile-portrait}{
            font-size: 2.1rem;
            line-height: 1.2;
        }

        &.justify {
            margin: auto;
            max-width: 850px;
            @media #{$media-mobile-portrait}{
                text-align: justify;
            }
        }
    }

    p, li, .text_p, h5 {
        color: $grey-dark;
        font-size: 2.1rem;
        &:not(:last-child):not(.no-gap), &.bottom-gap {
            margin-bottom: 15px;
            @media #{$media-mobile-portrait}{
                margin-bottom: 20px;
            }
            @media #{$media-mobile-small}{
                margin-bottom: 10px;
            }
        }

        @media #{$media-tablet-landscape}{
            font-size: 1.9rem;
        }
        @media #{$media-mobile-landscape}{
            font-size: 1.8rem;
        }
        @media #{$media-mobile-small}{
            font-size: 1.6rem;
        }

        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    ol, ul {
        li {
            text-align: justify;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
    ol li:before {
        font-size: 3.2rem;
        @media #{$media-tablet-portrait}{
            font-size: 2.8rem;
            margin-right: 12px;
        }
    }

}

//article-section with two columns
.two-columns {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(flex-start);
    @media #{$media-mobile-portrait}{
        display: block;
    }

    &.flip {
        @include flex-direction(row-reverse);
    }

    &.poles {
        @media #{$media-tablet-portrait}{
            display: block;
            .pole {
                max-width: none;
            }
        }
    }

    &.side-title {
        > section {
            margin-right: 50px;
            h2 {
                margin-bottom: 0;
            }
        }

        @media #{$media-tablet-landscape}{
            display: block;
            > section {
                margin-right: auto;
                text-align: center;
            }
            .pole {
                margin: auto;
            }
        }

        @media #{$media-tablet-portrait}{
            display: block;
            > section {
                margin-right: auto;
                text-align: center;
            }
            .pole {
                margin: auto;
                max-width: 720px !important;
            }
        }
    }

    .pole {
        max-width: 520px;
        @media #{$media-tablet-landscape}{
            max-width: 47%;
        }
        @media #{$media-mobile-portrait}{
            max-width: none !important;
        }

        p, h4 {
            max-width: none;
        }

        &.wide {
            max-width: 680px;
            @media #{$media-tablet-landscape}{
                max-width: 65%;
            }
            p, .text_p  {
                max-width: none;
            }
        }
    }

    h2 {
        margin-bottom: 15px;
    }

    p, h4, .text_p {
        text-align: justify;
        max-width: 470px;
    }

    img {
        width: 100%;
    }
    //img, svg {
    //    @media #{$media-mobile-portrait}{
    //        margin: 50px auto 0;
    //    }
    //}

    .imgWrapper {
        @include flex(1);
        @include display-flex;
        @include justify-content(center);
        @include align-items(center);
        @include align-self(center);

        img, svg {
            display: block;
            margin-left: 50px;
            @media #{$media-tablet-landscape}{
                width: 80%;
                margin-left: 30px;
            }
            @media #{$media-mobile-portrait}{
                width: 100%;
                //margin-left: auto;
                margin: 50px auto 0;
            }

            //mobile replacements
            &.desktop {
                @media #{$media-mobile-portrait}{
                    display: none;
                }
            }
            &.mobile {
                display: none;
                @media #{$media-mobile-portrait}{
                    display: block;
                }
            }
        }
    }
    &.flip .imgWrapper {
        img, svg {
            margin-left: -50px;
            @media #{$media-tablet-landscape}{
                margin-left: -30px;
            }
            @media #{$media-mobile-portrait}{
                margin-left: auto;
            }
        }
    }

    .p-divider {
        @include align-self(center);
        font-size: 3.2rem;
        color: $turquoise;
        @include title;
        font-weight: normal;
        display: block;
        @media #{$media-mobile-portrait}{
            margin: 10px 0;
        }
    }

    .mobile-flex {
        img {
            display: none;
        }
        @media #{$media-mobile-portrait}{
            @include display-flex;
            @include align-items(center);
            img {
                display: block;
                margin: 0 12px 0 0;
                width: auto;
            }
            span {
                @include flex(1)
            }
        }
    }

}

//rtl
.rtl .two-columns {
    .imgWrapper {
        img, svg {
            margin-left: 0;
            margin-right: 50px;
            @media #{$media-tablet-landscape}{
                margin-left: 0;
                margin-right: 30px;
            }
            @media #{$media-mobile-portrait}{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &.flip .imgWrapper {
        img, svg {
            margin-left: 0;
            margin-right: -50px;
            @media #{$media-tablet-landscape}{
                margin-left: 0;
                margin-right: -30px;
            }
            @media #{$media-mobile-portrait}{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.flex-list {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(flex-start);
    @include flex-wrap(wrap);
    section:not(:last-child) {
        margin-bottom: 60px;
        @media #{$media-tablet-portrait}{
            margin-bottom: 50px;
        }
    }
    section, li {
        text-align: justify;
        max-width: 520px;
        width: 48.5%;
        @media #{$media-tablet-portrait}{
            width: 100%;
            max-width: 620px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.video-block {
    max-width: 520px;
    text-align: left;
    cursor: pointer;
    padding: 20px;
    @include transition(all .3s);
    @include flex(1);
    position: relative;
    @media #{$media-laptop-small} {
        padding: 15px;
    }
    @media #{$media-tablet-landscape}{
        max-width: 47%;
    }
    @media #{$media-mobile-portrait}{
        max-width: none;
        margin: 30px auto 0;
        padding: 10px;
    }
    path {
        stroke-dasharray: 1400;
        @include transition(stroke-dashoffset .7s);
    }

    img{
        @include center-transform;
        @include transition-transform(.3s);
        width: 75px;
        height: 75px;
    }


    &:hover {
        @include transform(translateY(-2px));
        box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
        path {
            stroke-dashoffset: 1400;
        }
        footer .Icon {
            @include transform(translateX(3px))
        }

        img{
            @include transform(translate(-50%, -50%) scale(1.1));
        }
    }

    figure {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }


    footer {
        padding-top: 15px;
        font-size: 2rem;
        color: $grey-light;
        @media #{$media-tablet-portrait}{
            font-size: 1.6rem;
        }
    }
}

.noWrap{
    white-space: nowrap;
}

//rtl
.rtl .video-block {
    text-align: right;
    footer .Icon {
        @include transform(scale(-1, 1))
    }
    &:hover footer .Icon {
        @include transform(scale(-1, 1) translateX(3px))
    }
}

.line-divider {
    margin-right: auto;
    margin-left: auto;
    width: 30px;
    height: 2px;
    border-bottom: 2px solid;
    &.gap-top{
        margin-top: 40px;
        @media #{$media-mobile-landscape}{
            margin-top: 80px;
        }
    }
    &.purple {
        border-bottom-color: $purple;
    }
    &.turquoise {
        border-bottom-color: $turquoise;
    }
}

.hr-scroll-hidden {
    @include hiddenHorizontalScrollBar;
}

#cookie {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: $grey-dark;
    text-align: left;
    color: #fff;
    padding: 6px 30px 6px 15px;
    z-index: 10;
    cursor: pointer;
    max-width: 980px;
    @include animation(fromBottom .5s 1s $easing both);
    p {
        @include transition(opacity .3s $easing);
        font-size: 1.4rem;
        font-weight: 300;
        a {
            color: inherit;
            font-weight: 500;
        }
    }

    .icon-close {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        @include transition(all .3s $easing);
        right: 3px;
        font-size: 2.6rem;
        opacity: .7;
    }

    &:hover {
        p {
            opacity: .7;
        }
        .icon-close {
            opacity: 1;
            @include transform(rotate(90deg))
        }
    }

}

.scrollBtn {
    @include display-flex;
    @include align-items(center);
    cursor: pointer;
    .label {
        font-size: 2.1rem;
        color: $grey-light;
        margin-right: 10px;
        font-weight: 300;
        @media #{$media-laptop-small}{
            font-size: 1.8rem;
        }
    }

    .Icon {
        background-color: #fff;
        color: $purple;
        font-size: 2.6rem;
        border: 1px solid $grey-line;
        padding: 4px;
        @include round;
        @include transition(all .3s);
        box-shadow: 2px 10px 35px rgba(0, 0, 0, .1);
        @media #{$media-laptop-small}{
            font-size: 2.4rem;
            padding: 3px;
        }
    }

    &:hover .Icon {
        border-color: #fff;
        box-shadow: 5px 12px 50px rgba(0, 0, 0, .15);
    }


    &.small{
        .label {
            font-size: 1.6rem;
            margin-right: 8px;
            @media #{$media-laptop-small}{
                font-size: 1.5rem;
            }
        }

        .Icon {
            font-size: 2.2rem;
            padding: 3px;
            @media #{$media-laptop-small}{
                font-size: 2rem;
                padding: 2px;
            }
        }
    }
}

//rtl
.rtl .scrollBtn {
    .label {
        margin-right: 0;
        margin-left: 10px;
    }
}

.scrollBottom {
    cursor: pointer;
    background-color: #fff;
    color: $purple;
    font-size: 2.6rem;
    border: 1px solid $grey-line;
    padding: 4px;
    @include round;
    @include transition(all .3s);
    box-shadow: 2px 10px 35px rgba(0, 0, 0, .1);
    @media #{$media-laptop-small}{
        font-size: 2.4rem;
        padding: 3px;
    }

    &:hover {
        border-color: #fff;
        box-shadow: 5px 12px 50px rgba(0, 0, 0, .15);
    }
}

.card {
    background-color: #fff;
    @include border-radius(5px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
    border: 1px solid #F8F4F4;
}

.divider {
    margin: auto;
    display: block;
    max-width: 90%;
    &.big {
        margin: 120px auto 70px;
        @media #{$media-mobile-landscape} {
            margin: 80px auto 0;
        }
    }

    &.huge {
        margin: 150px auto 120px;
        @media #{$media-mobile-landscape} {
            margin: 110px auto 90px;
        }
    }
}

.video-btn {
    @include display-flex;
    @include align-items(center);
    margin-top: 30px;
    color: $purple;
    cursor: pointer;
    @media #{$media-between-tablet-and-mobile} {
        margin-top: 20px;
    }
    @media #{$media-mobile-landscape} {
        margin-top: 15px;
    }

    .label, .Icon {
        @include transition-transform(.3s);
    }
    .label {
        font-size: 1.8rem;
        @media #{$media-desktop} {
            font-size: 2rem;
        }
        @media #{$media-tablet-landscape} {
            font-size: 1.5rem;
        }
    }
    .Icon {
        font-size: 3.2rem;
        margin-left: 6px;
        @media #{$media-tablet-landscape} {
            font-size: 2.8rem;
        }
    }

    &.centered {
        max-width: 320px;
        margin: 10px auto 0;
        @include align-self(center);
        @include justify-content(center);

        .label {
            font-size: 1.4rem;
            @media #{$media-desktop} {
                font-size: 1.5rem;
            }
            @media #{$media-mobile-small}{
                font-size: 1.3rem;
            }
        }
        .Icon {
            font-size: 2.5rem;
            margin-left: 4px;
        }
        a {
            color: $purple;
        }
    }

    &.left {
        max-width: 320px;
        margin: 10px 0 0 0;
        @include align-self(center);
        @include justify-content(left);

        .label {
            font-size: 1.4rem;
            @media #{$media-desktop} {
                font-size: 1.5rem;
            }
            @media #{$media-mobile-small}{
                font-size: 1.3rem;
            }
        }
        .Icon {
            font-size: 2.5rem;
            margin-left: 4px;
        }
        a {
            color:  $grey-dark;
        }
    }

    &:hover {
        &.centered .label {
            @include transform(translateX(-3px))
        }
        .Icon {
            @include transform(translateX(3px))
        }
    }
}

//rtl
.rtl .video-btn {
    .Icon {
        margin-left: 0;
        margin-right: 6px;
        @include transform(scale(-1, 1));
    }

    &:hover {
        &.centered .label {
            @include transform(translateX(3px))
        }
        .Icon {
            @include transform(scale(-1, 1) translateX(3px))
        }
    }
}

.grecaptcha-badge {
    display: none;
}



.notifications{
    text-align: center;
    @include inline-block-mid;
    margin-left: 5px;
    padding: 2px 6px;
    min-width: 18px;
    @include border-radius(20px);
    background-color: $red;
    color: #fff;
    font-family: $font-body;
    font-size: 50%;
    @media #{$media-mobile-landscape} {
        min-width: 16px;
    }
}

.checkbox{
    min-width: 18px;
    height: 18px;
    @include border-radius(3px);
    margin-right: 12px;
    border: 1px solid;
    position: relative;
    @include transition(all .2s);
    cursor: pointer;
    &:before{
        content: '';
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        @include border-radius(2px);
        background-color: $turquoise;
        @include transition-transform(.15s);
        @include transform(scale(0))
    }

    &.active{
        border-color: $turquoise;
        //background-color: $grey-line;
        &:before{
            @include transform(scale(1))
        }
    }


    &.big{
        min-width: 28px;
        height: 28px;
        margin-right: 0;
        @media #{$media-mobile-portrait} {
            min-width: 22px;
            height: 22px;
        }
        &:before{
            top: 6px;
            right: 6px;
            bottom: 6px;
            left: 6px;
            @media #{$media-mobile-portrait} {
                top: 4px;
                right: 4px;
                bottom: 4px;
                left: 4px;
            }
        }
    }
}









