


@font-face {
    font-family: 'telugu_mn';
    src: url('https://d2y4f140up4m3c.cloudfront.net/TeluguMN-Bold.woff2') format('woff2'),
    url('https://d2y4f140up4m3c.cloudfront.net/TeluguMN-Bold.woff') format('woff'),
    url('https://d2y4f140up4m3c.cloudfront.net/TeluguMN-Bold.ttf') format('truetype'),
    url('https://d2y4f140up4m3c.cloudfront.net/TeluguMN-Bold.svg#telugu_mnbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'telugu_mn';
    src: url('https://d2y4f140up4m3c.cloudfront.net/telugumn-regular.woff2') format('woff2'),
    url('https://d2y4f140up4m3c.cloudfront.net/telugumn-regular.woff') format('woff'),
    url('https://d2y4f140up4m3c.cloudfront.net/telugumn-regular.ttf') format('truetype'),
    url('https://d2y4f140up4m3c.cloudfront.net/telugumn-regular.svg#telugu_mnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
